{% extends 'base.html' %}


{% block content %}

<style>
    .bg {
        background: rgba(255, 255, 255, 0.8); /* Nilai alpha (0.8) menentukan tingkat transparansi */
        padding: 45px; /* Sesuaikan padding sesuai kebutuhan */
        border-radius: 1px; /* Tambahkan border-radius untuk sudut elemen */
    }
</style>

<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Ubah Password</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<form action="{% url 'change_password' %}" method="POST">
					{% csrf_token %}

					<div class="form-group">
						<label>Password lama</label>
						<input type="password" name="current_password" placeholder="Password lama" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Buat password baru</label>
						<input type="password" name="new_password" placeholder="Buat password baru" class="form-control" required>
					</div>
					<div class="form-group">
						<label>Konfirmasi password baru</label>
						<input type="password" name="confirm_password" placeholder="Konfirmasi password baru" class="form-control" required>
					</div>

					<input type="submit" value="Submit" class="btn btn-primary">
				</form>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}
